header {
    background-color: rgb(255,0,0,0.5);
    height: 90px;
    width=100%;
    color: black;
    text-align: right;
    font-size: 50px;
    padding: 0px;
    font-family: Helvetica Narrow, sans-serif;
    font-weight: bold;
    
  }
  body{
     background-image: url('https://cdn.pixabay.com/photo/2016/12/17/18/51/salt-1914130_960_720.jpg');
  	 background-attachment:fixed;
    background-repeat: repeat;
    background-size: cover;
  }

    h2{
    	font:50px;
    	color:red;
    }


  .maindiv{
  background-color:rgb(0,0,0,0.6);
  width:100%;
  height:710px;
 
}
 .secdiv
 {
 width:90%;
height:620px;
background-size: cover;
 animation : slider 50s infinite linear;
 margin: 0 auto;
 padding:50px;


    
  }
 

@keyframes slider{
   0%
   {
    background-image :url('https://cdn.pixabay.com/photo/2016/08/30/17/45/spice-1631562__340.jpg');
    
  }
   20%
  {
    background-image:url('https://cdn.pixabay.com/photo/2014/11/22/19/41/spices-541974_960_720.jpg');
  }
  40%{
    background-image:url('https://cdn.pixabay.com/photo/2015/03/10/13/15/spices-667115_960_720.jpg');

  }
  65%
  {
    background-image: url('https://cdn.pixabay.com/photo/2018/12/08/19/47/spices-3863869_960_720.jpg');
  }
  80%
  {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/28/11/53/spices-2105541_960_720.jpg');
  }
  100%
  {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/27/14/31/masala-1482623__340.jpg');
  }
}
 
 

  .space{
  height:100px;
  opacity: 0px;
 }

.main2
{
  height:500px;
  width:100%;
  background-color: rgb(255,255,255,0.8);
}
.maintext

{
  font-size: 60px;
  font-family: Times New Roman, serif;
  text-align: center;
  text-decoration: underline  red;
  margin-top: 10px;
  color: rgb(0,0,0,1);
}


/*
 .slider{
  background-color:rgb(0,0,0,0.4);
  width:500%;
  height:500px;
  
}
.sliderchild
{
  height:500px;
  width:500%;
  background-color: rgb(0,0,0,0.4);

}
.imagecon{
  height:500px;
  width:20%;
  float: left;

  box-shadow:1px 2px 8px 8px red ;
    animation : slider 120s infinite linear;
    animation-delay:3s;
}
  
/* .imagecon
 {
  width:80%;
  height:300px;
  top:270px;
  left:180px;
  right:100px;
  position:absolute;
  background-size: 100% 100%;
  box-shadow:1px 2px 8px 8px red ;
  animation : slider 120s infinite linear;
  animation-delay:3s;
  }
 */
/*

  .imagecon:nth-child(1)
 {
  background-image: :url('https://cdn.pixabay.com/photo/2017/07/28/13/29/spices-2548653_960_720.jpg');
  background-repeat: no-repeat;
  backkground-size:100% 100%;
 }
  .imagecon:nth-child(2)
 {
  background-image: :url('https://cdn.pixabay.com/photo/2014/06/16/23/10/spice-370114_960_720.jpg');
  background-repeat: no-repeat;
  backkground-size:100% 100%;
 }
 .imagecon:nth-child(3)
 {
  background-image: :url('https://cdn.pixabay.com/photo/2017/02/28/11/53/spices-2105541_960_720.jpg');
  background-repeat: no-repeat;
  backkground-size:100% 100%;
 }
 .imagecon:nth-child(4)
 {
  background-image: :url('https://cdn.pixabay.com/photo/2014/11/22/19/41/spices-541974_960_720.jpg');
  background-repeat: no-repeat;
  backkground-size:100% 100%;
 }
*/
 .about{
  text-orientation: center;
  font-size: 30px;
 color:rgb(0,0,0,1);
 font-family: Times New Roman, serif;
 margin-top: :10px;

}
  	
.products{
  background-color: rgb(255,255,255,0.8);
  width: 100%;
  height:600px;
}
.aboutheader
{
  height:100px;
  width:100%;
  background-color: rgb(255,0,0,0.7);
}
  

	.menu {
    position: sticky;
    top: 0;
    background-color:transparent;
    padding: 10px 0px 10px 0px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
 
  }

  .menu a {
    float: left;
    color: rgb(0,0,0,1);
  font-family: Times New Roman, serif;
  font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    transition: 0.4s;
    align-content: cemter;

  }

  .menu :hover{
    background:rgb(0,0,0,0.2);
  }
  footer {
    width: 100%;
    bottom: 0px;
    background-color:rgb(0,0,0,0.9);
    display:block;
    color:white;
    
  }
  .inner-footer
  {
  	width:100%;
  	margin:auto;
  	padding:30px 10px;
  	display:flex;
  	flex-wrap:wrap;
  	box-sizing: border-box;
  	justify-content: center;
  }



.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}



.footer-items p {
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}





ul {
	list-style: none;
	color:white;
	font-size: 15px;
	letter-spacing: 0.5px;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.4s;
}

ul a:hover {
	color: red;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	border: 1px solid grey;
	transition: 0.3s;
}

.social-media i:hover {
	background: red;
}

.footer-bottom {
	padding: 10px;
	background: black;
	color: #fff;
	font-size: 12px;

}

@media screen and (max-width: 1085px) {
	.footer-items {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.footer-items {
		width: 100%;
	}
}

/*@media screen and (max-width: 1085px) {
  .slider {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .slider {
    width: 100%;
  }
}*/
@media screen and (max-width: 1085px) {
  .about {
    font-size: 30px;
  }
}@media screen and (max-width: 600px) {
  .about {
    font-size: 20px;
  }
}
/*
@media screen and (max-width: 1085px) {
  .secdiv {
    width: 90%;
    background-size: cover;
    margin: 0 auto;
 padding:50px;


  }
}@media screen and (max-width: 600px) {
  .secdiv {
    width:70%;
    background-size: :cover;
    margin: 0 auto;
 padding:50px;
  }
}
*/

.row
{
  height:400px;
  background-color: black;
}
.col-sm-4{
  padding-top: 50px;
  padding-left: 50px;
  height:250px;
  align-content: left;
  background-color: white;
}
.caption{
  text-align: left ;
  font-weight: bold;
  font-family: cursive;
}
